.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: .5rem 2rem;
    background: var(--elm);
}

.topname{
    width: 12.8rem;
}

.bag{
    border: none;
    background: none;
}